In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


df_edu = pd.read_csv('dados/government_expenditure/API_SE.XPD.TOTL.GD.ZS_DS2_en_csv_v2_4411877.csv', skiprows=4, decimal='.')
df_edu_nor = df_edu.iloc[177]
df_edu_bra = df_edu.iloc[29]
df_edu_afg = df_edu.iloc[2]

df_desem = pd.read_csv('dados/desemprego/API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_4488595.csv', skiprows=4, decimal='.')

df_desem_nor = df_desem.iloc[177]
df_desem_bra = df_desem.iloc[29]
df_desem_afg = df_desem.iloc[2]

all_nor = pd.concat((df_desem_nor, df_edu_nor), join='outer', axis=1)
all_nor = all_nor.transpose()
all_nor.head()

plt.figure(figsize=(3,3))
sns.scatterplot(data=all_nor, x='Indicator Name', y='Relevância para a história')
plt.show()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
177,Norway,NOR,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.42,3.48,4.3,4.68,4.16,3.8,3.69,4.42,4.985,NaN
177,Norway,NOR,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.48535,7.69504,7.56933,8.03055,7.91198,7.64411,NaN,NaN,NaN,NaN