In [7]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('dados/API_SE.XPD.TOTL.GD.ZS_DS2_en_csv_v2_4411877/API_SE.XPD.TOTL.GD.ZS_DS2_en_csv_v2_4411877.csv', skiprows=4,decimal='.',encoding='latin')
df.head()

# descobrir País avançado e defasado
#df_2021 = df['2021']
#print(df['2021'].max())
#print(df['2021'].min())

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.442960,5.851280,5.888270,5.491350,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.621735,4.839840,4.815085,4.821875,4.963090,4.951635,4.846845,4.608170,NaN,NaN
2,Afghanistan,AFG,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.454460,3.695220,3.255800,3.511980,3.373310,3.199790,3.213780,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.029710,2.914230,3.115135,2.780579,3.430221,3.013220,3.023038,3.173885,NaN,NaN
4,Angola,AGO,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.438950,3.122918,3.486896,2.754936,2.466879,2.044701,1.927457,2.415200,NaN,NaN